In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Data Preprocessing

In [3]:
dataset_df1 = pd.read_csv(r"./premonsoon/ground_water_quality_2018_pre.csv")
dataset_df2 = pd.read_csv(r"./premonsoon/ground_water_quality_2019_pre.csv")
dataset_df3 = pd.read_csv(r"./premonsoon/ground_water_quality_2020_pre.csv")
dataset_df4 = pd.read_csv(r"./premonsoon/ground_water_quality_2021_pre.csv")
dataset_df5 = pd.read_csv(r"./premonsoon/ground_water_quality_2022_pre.csv")
dataset_df6 = pd.read_csv(r"./postmonsoon/ground_water_quality_2018_post.csv")
dataset_df7 = pd.read_csv(r"./postmonsoon/ground_water_quality_2019_post.csv")
dataset_df8 = pd.read_csv(r"./postmonsoon/ground_water_quality_2020_post.csv")
dataset_df9 = pd.read_csv(r"./postmonsoon/ground_water_quality_2021_post.csv")
dataset_df = pd.concat([dataset_df1,dataset_df2,dataset_df3,dataset_df4,dataset_df5,dataset_df6,dataset_df7,dataset_df8,dataset_df9],join='outer',ignore_index=True)
dataset_df.drop(columns=['RL_GIS','sno','village','mandal','district','gwl'],inplace=True)
dataset_df['season']=dataset_df['season'].astype(str).apply(lambda x: 0 if 'pre' in x.lower() else 1)

In [4]:
dataset_df['pH'] = pd.to_numeric(dataset_df['pH'], errors='coerce')

# Now convert to float
dataset_df['pH'] = dataset_df['pH'].astype(float)
dataset_df['RSC  meq  / L'] = pd.to_numeric(dataset_df['RSC  meq  / L'], errors='coerce')

# Now convert to float
dataset_df['RSC  meq  / L'] = dataset_df['RSC  meq  / L'].astype(float)

In [5]:
#To remove rows containing null values
for index, row in dataset_df.iterrows():
    if 'NA' in row.values:
        dataset_df.drop(index, inplace=True)
    elif(row['Classification']=='OG')or(row['Classification']=='O.G')or(row['Classification']=='BELOW THE GRAPH')or(row['Classification']=='OUT OF SAR GRAPH')or(row['Classification']=='BG'):
        dataset_df.drop(index, inplace=True)
dataset_df.reset_index(drop=True, inplace=True)

In [6]:
null_threshold = len(dataset_df) * 0.25
for column in dataset_df.columns:
    null_count = dataset_df[column].isnull().sum()
    if null_count > null_threshold:
        dataset_df.drop(column, axis=1, inplace=True)
    elif null_count > 0:
        dataset_df.dropna(subset=[column], inplace=True)
dataset_df.reset_index(drop=True, inplace=True)

In [7]:
dataset_df.columns

Index(['long_gis', 'lat_gis', 'season', 'pH', 'E.C', 'TDS', 'CO3', 'HCO3',
       'Cl', 'F', 'NO3 ', 'SO4', 'Na', 'K', 'Ca', 'Mg', 'T.H', 'SAR',
       'Classification', 'RSC  meq  / L', 'Classification.1'],
      dtype='object')

In [8]:
dataset_df.describe()

,long_gis,lat_gis,season,pH,E.C,TDS,CO3,HCO3,Cl,F,NO3,SO4,Na,K,Ca,Mg,T.H,SAR,RSC meq / L
count,4907.000000,4907.000000,4907.000000,4907.000000,4907.000000,4907.000000,4907.00000,4907.000000,4907.000000,4907.000000,4907.000000,4907.000000,4907.000000,4907.000000,4907.000000,4907.000000,4907.000000,4907.000000,4907.000000
mean,66.772025,29.599037,0.387202,7.843799,1233.101610,789.881749,5.41146,268.275171,174.904218,1.037786,60.958889,49.644993,117.753836,8.560754,68.429224,47.475201,366.806037,2.790353,-1.865046
std,24.484076,24.306903,0.487160,0.458430,738.381329,473.032944,16.97257,128.542345,171.081966,0.812726,79.534434,63.171954,103.979699,21.907266,52.806161,34.073709,216.250298,2.589769,4.136058
min,0.000000,0.000000,0.000000,6.160000,102.000000,65.280000,0.00000,10.000000,10.000000,0.000000,0.000000,0.000000,2.000000,0.000000,1.000000,0.100000,19.995888,0.140000,-59.584539
25%,77.770000,17.270000,0.000000,7.530000,750.000000,481.000000,0.00000,180.000000,60.000000,0.520000,13.488318,16.000000,53.000000,2.000000,32.000000,24.310000,220.000000,1.360000,-3.200000
50%,78.474600,17.970000,0.000000,7.880000,1047.000000,670.720000,0.00000,250.000000,120.000000,0.840000,36.000000,29.000000,88.000000,3.220000,56.000000,39.000000,320.000000,2.090000,-1.200000
75%,79.290000,19.024500,1.000000,8.180000,1520.000000,974.000000,0.00000,340.000000,220.000000,1.290000,74.559325,55.000000,145.450000,6.870000,88.000000,63.000000,459.893092,3.225302,0.001000
max,81.180000,81.180000,1.000000,10.590000,9499.000000,6079.360000,200.00000,1240.000000,2480.000000,13.700000,1028.000000,860.000000,1154.000000,356.000000,640.000000,457.028000,3479.226974,31.435063,18.200822

In [9]:
dataset_df.shape

(4907, 21)

In [10]:
dataset_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4907 entries, 0 to 4906
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   long_gis          4907 non-null   float64
 1   lat_gis           4907 non-null   float64
 2   season            4907 non-null   int64
 3   pH                4907 non-null   float64
 4   E.C               4907 non-null   float64
 5   TDS               4907 non-null   float64
 6   CO3               4907 non-null   float64
 7   HCO3              4907 non-null   float64
 8   Cl                4907 non-null   float64
 9   F                 4907 non-null   float64
 10  NO3               4907 non-null   float64
 11  SO4               4907 non-null   float64
 12  Na                4907 non-null   float64
 13  K                 4907 non-null   float64
 14  Ca                4907 non-null   float64
 15  Mg                4907 non-null   float64
 16  T.H               4907 non-null   float64
 17  SAR               4907 non-null   float64
 18  Classification    4907 non-null   object
 19  RSC  meq  / L     4907 non-null   float64
 20  Classification.1  4907 non-null   object
dtypes: float64(18), int64(1), object(2)
memory usage: 805.2+ KB

### Principal Component Analysis

In [17]:
class PrincipalComponentAnalysis:
    def __init__(self,n_samples):
        self.n_samples=n_samples
        
    def standardize_data(self,df):
        #standardises the data
        return (df - df.mean()) / df.std()
    
    def compute_mean_vector(self,df):
        #computes the mean vector of each column for calculation of covariance matrix
        return np.mean(df, axis=0)
    
    def compute_covariance_matrix(self,df):
        _, n_features = df.shape
        covariance_matrix = np.zeros((n_features, n_features))
        mean_vector = self.compute_mean_vector(df)
        for i in range(n_features):
            for j in range(n_features):
                if i == j:
                    covariance_matrix[i,j] = np.var(df.iloc[:,i])
                else:
                    covariance_matrix[i,j] = np.sum((df.iloc[:,i] - mean_vector[i]) * (df.iloc[:,j] - mean_vector[j])) / (self.n_samples - 1)
        return covariance_matrix

    def compute_eigenvalues_eigenvectors(self,matrix):
        eigenvalues, eigenvectors = np.linalg.eig(matrix)
        return eigenvalues, eigenvectors

    def select_principal_components(self,eigenvalues, eigenvectors,df_columns):
        sorted_indices = np.argsort(eigenvalues)[::-1]
        sorted_eigenvalues = eigenvalues[sorted_indices]
        sorted_eigenvectors = eigenvectors[:, sorted_indices]
        explained_variance_ratio = sorted_eigenvalues / np.sum(sorted_eigenvalues)
        cumulative_explained_variance = np.cumsum(explained_variance_ratio)
        print("Explained Variance for each Principal Component:")
        for i, variance in enumerate(explained_variance_ratio):
            print(f"  {df_columns[sorted_indices[i]]}: {variance}")
        # Print cumulative explained variance
        print("\nCumulative Explained Variance:")
        for i, cumulative_variance in enumerate(cumulative_explained_variance):
            print(f"  {df_columns[sorted_indices[i]]}: {cumulative_variance}")

In [18]:
features_df=dataset_df.drop(columns=['Classification','Classification.1'])
target_df=dataset_df['Classification']

In [20]:
pca=PrincipalComponentAnalysis(dataset_df.shape[0])
standardised_df=pca.standardize_data(features_df)
cov_matrix=pca.compute_covariance_matrix(standardised_df)
eigenvalues, eigenvectors = pca.compute_eigenvalues_eigenvectors(cov_matrix)
pca.select_principal_components(eigenvalues, eigenvectors,features_df.columns)

Explained Variance for each Principal Component:
  long_gis: 0.3486396213541615
  lat_gis: 0.16175832587390618
  season: 0.13325702291543057
  pH: 0.06830319282595168
  E.C: 0.059510259518869006
  TDS: 0.046945389947020855
  CO3: 0.03805137050719003
  HCO3: 0.03574332655194547
  Cl: 0.0325423347765721
  F: 0.025688007164024595
  NO3 : 0.02424503769298987
  SO4: 0.019455373652876078
  Na: 0.0034567459005273443
  K: 0.0013054257270086987
  Ca: 0.0007329996130667565
  Mg: 0.0002150033070390786
  RSC  meq  / L: 7.726979614939464e-05
  SAR: 6.886295133597313e-05
  T.H: 4.429923934863257e-06

Cumulative Explained Variance:
  long_gis: 0.3486396213541615
  lat_gis: 0.5103979472280676
  season: 0.6436549701434982
  pH: 0.7119581629694498
  E.C: 0.7714684224883188
  TDS: 0.8184138124353397
  CO3: 0.8564651829425297
  HCO3: 0.8922085094944752
  Cl: 0.9247508442710473
  F: 0.9504388514350719
  NO3 : 0.9746838891280618
  SO4: 0.9941392627809379
  Na: 0.9975960086814653
  K: 0.9989014344084739
  Ca: 0.9996344340215406
  Mg: 0.9998494373285797
  RSC  meq  / L: 0.9999267071247291
  SAR: 0.9999955700760651
  T.H: 1.0

C:\Users\koush\AppData\Local\Temp\ipykernel_27764\771299378.py:22: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  covariance_matrix[i,j] = np.sum((df.iloc[:,i] - mean_vector[i]) * (df.iloc[:,j] - mean_vector[j])) / (self.n_samples - 1)